/* RTL and LTR */

/* RTL Specific Styles */
[dir="rtl"] {
    /* Text alignment */
    text-align: right;

    /* Right to left text flow */
    direction: rtl;

    /* Adjust margins/paddings if necessary */
    /* Example: */
    .navbar,
    .footer {
        text-align: right;
    }
}

/* LTR Specific Styles */
[dir="ltr"] {
    /* LTR Text Alignment */
    text-align: left;

    /* Left to right text flow */
    direction: ltr;
}
